<a href="https://colab.research.google.com/github/ben-blake/cs5542-lab05/blob/main/notebooks/week5_snowflake_pipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CS 5542 — Week 5 Snowflake Pipeline Notebook
This notebook is a **demo artifact**: connect → load → query → visualize.
Replace the example tables with your project subset tables.

## 1) Setup
- Copy `.env.example` to `.env` and fill in your Snowflake credentials.
- Install dependencies: `pip install -r requirements.txt`

In [ ]:
from scripts.sf_connect import get_conn
import pandas as pd
conn = get_conn()
conn

## 2) Sanity check: list tables

In [ ]:
pd.read_sql('SHOW TABLES IN SCHEMA CS5542_WEEK5.PUBLIC', conn).head()

## 3) Query examples

In [ ]:
q = '''
SELECT TEAM, CATEGORY, COUNT(*) AS N
FROM CS5542_WEEK5.PUBLIC.EVENTS
GROUP BY TEAM, CATEGORY
ORDER BY N DESC
'''
pd.read_sql(q, conn)

## 4) Close connection

In [ ]:
conn.close()
'closed'